body {
    background-color:#ffffff;
    padding: 0;
    margin: 0;

}

p {
    font-size: 12pt;
    line-height: 14pt;
    font-family: Arial;
    letter-spacing: 0.2mm;
    word-spacing: 0.8mm;
    color: rgb(18, 18, 46);

}

.main_contact
{
    display: flex;
}

.form1
{

    flex: 0.6;

}

.form2
{
    display: flex;
    background-color: rgb(105, 92, 92);
    flex: 0.4;
    margin-top: 10px;

}

h1 {
    font-size: 37pt;
    color :#000000;
    font-style: italic;
    border-bottom: solid thin black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}
  
li {
    float: left;
    margin-left: 20px;
}
  
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin: 5px;
}

.sous_titre_contact {
    font-size: 25pt;
    color :#000000;
    font-style: Arial;
}

.entete_contact {
    display: flex;
    width: 100%;

}

.box_entete_contact {
    display: flex;
    /* background: rgb(224, 52, 52);Í */
    /* flex: 1 1 0px */
   margin-right: auto
}

#slogan_contact {

    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-size: 1.5em

}

#img1_contact {
    display:flex;
    width : 300px;

}

#img2_contact {
    display: flex;
    width: 100%;

}