/*Responsive Page Accueil*/

@media screen and (max-width: 768px) 
{
    .sous_titre
    {
        font-size: 20pt;
        color :#000000;
        font-style: Arial;
    }

    #img1
    {
        display:flex;
        width : 150px;
    }

    #img2
    {
        max-width: 100%;
        max-height: auto
    }

    .home
    {
        display: flex;
    }
    
    .home_text
    {
        flex: 1;
    }
    
    .home_column
    {
        display: none;
    }

    #slogan 
    {
        display: flex;
        /* justify-content: center; */
        align-items: center;
        font-size: 1em
    }


    /*****************************
    ***Responsive Page tableau***
    *****************************/


    .sous_titre_tableau
    {
        font-size: 20pt;
        color :#000000;
        font-style: Arial;
    }

    #img1_tableau
    {
        display:flex;
        width : 150px;
    }

    #img2_tableau
    {
        max-width: 100%;
        max-height: auto
    }

    .main_table
    {
        display: flex;
    }
    
    .table
    {
        display: flex;
        flex: 1;
    }
    
    .table_column
    {
        display: none;
    }

    .img_table
    {
        display: flex;
        width: 100%;
    }

    #slogan_tableau
    {
        display: flex;
        align-items: center;
        font-size: 1em
    }

    section
    {
        flex: 1;
    }


    /*Responsive Page Contact*/


    .sous_titre_contact
    {
        font-size: 20pt;
        color :#000000;
        font-style: Arial;
    }

    #img1_contact 
    {
        display:flex;
        width : 150px;
    }

    #img2_contact
    {
        max-width: 100%;
        max-height: auto
    }

    .main_contact
    {
        display: flex;
    }
    
    .form1
    {
        flex: 1;
    }
    
    .form2
    {
        display: none;
    }

    #slogan_contact 
    {
        display: flex;
        align-items: center;
        font-size: 1em
    }


    /*Responsive pour tout le site*/

 
    ul
    {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
    }

    li a
    {
        display: block;
        color: white;
        text-align: center;
        padding: 7px 8px;
        margin: 5px;
    }

    p 
    {
        font-size: 10pt;
        line-height: 10pt;
        font-family: Arial;
        letter-spacing: 0.2mm;
        word-spacing: 0.8mm;
        color: rgb(18, 18, 46);
    }

    h1
    { 
        font-size : 27px; 
    }

    h2
    {
        font-size: 18px;
    }

    body
    {
        margin: 0px;   
    }

    footer
    {
        bottom: 0;
        width: 100%;
    }
}

